@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}


.cursor-glow {
  position: fixed;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgba(168, 85, 247, 0.5);
  pointer-events: none;
  mix-blend-mode: screen;
  transform: translate(-50%, -50%);
  transition: transform 0.05s ease;
  z-index: 9999;
  filter: blur(10px);
}

html {
  scroll-behavior: smooth;
}
@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.bg-animated {
  background-size: 200% 200%;
  animation: gradientShift 8s ease infinite;
}
